* {
	font-family: cursive;
}

body {
	box-sizing: border-box;
	width: 100%;
	border: 2px solid black;
}

header,
footer,
nav {
	padding: 1.2em;
}

.mainheader {
	background: #8e3558;
	color: white;
	text-align: center;
}

.main {
	background: #e6e2af;
	border: 18px solid #787746;
	height: 500px;
	text-align: center;
}

.mainnav {
	background: #4a1a2c;
	color: white;
}

.footer {
	background: #8e3558;
	color: white;
	text-align: center;
}
