#content {
	width: 1400px;
	margin: auto;
	background: #a1dbdb;
	color: white;
	height: 700px;
}

header {
	background-color: #d2b48c;
	height: 60px;
	text-align: center;
	line-height: 60px;
}

nav {
	background-color: #767676;
	height: 29px;
	text-align: center;
}

main {
	width: 470px;
	height: 246px;
}

.Zone1 {
	border: 1px solid white;
	background-color: #ebc9aa;
	width: 470px;
	height: 246px;
}

.pz1 {
	width: 233px;
	height: 124px;
	border: 1px solid white;
}

.pz2 {
	width: 233px;
	height: 124px;
	border: 1px solid white;
	display: flex;
}

.pz3 {
	width: 233px;
	height: 124px;
	border: 1px solid white;
}

.pz4 {
	width: 233px;
	height: 124px;
	border: 1px solid white;
}
